{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tv"],
  "overrides": [
    {
      "files": "prisma/seed/**/*.ts",
      "options": {
        "printWidth": 10000
      }
    }
  ]
}
