@import "tailwindcss";

@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  /* Border */
  --border-primary: var(--color-gray-300);
  --border-secondary: var(--color-gray-200);

  /* Text */
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-500);
  --text-tertiary: var(--color-gray-600);
  --text-link: var(--color-blue-600);
  --text-link-hover: var(--color-blue-500);
  --text-disabled: var(--color-gray-400);

  /* Surface */
  --surface-primary: var(--color-white);
  --surface-primary-hover: var(--color-gray-100);
  --surface-primary-pressed: var(--color-gray-200);

  --surface-secondary: var(--color-gray-100);
  --surface-secondary-hover: var(--color-gray-200);
  --surface-secondary-pressed: var(--color-gray-300);

  --surface-tertiary: var(--color-gray-200);
  --surface-tertiary-pressed: var(--color-gray-300);

  /* Accent */
  --accent: var(--color-blue-600);
  --accent-hover: var(--color-blue-500);
  --accent-pressed: var(--color-blue-700);

  /* Overlay */
  --overlay-surface: rgb(0 0 0 / 20%);

  /* Button */
  --button-text-contrast: var(--color-white);
  --button-surface-disabled: var(--color-gray-200);
  --button-surface-contrast: var(--color-black);
  --button-surface-contrast-hover: var(--color-gray-900);
  --button-surface-contrast-pressed: var(--color-gray-800);

  /* Control */
  --control-text-error: var(--color-red-600);
  --control-surface-disabled: var(--color-gray-100);
  --control-border-error: var(--color-red-300);
  --control-border-focused: var(--color-blue-500);
  --control-border-disabled: var(--color-gray-100);
  --control-toggle-surface: var(--color-gray-100);
}

[data-theme="dark"] {
  /* Border */
  --border-primary: var(--color-gray-600);
  --border-secondary: var(--color-gray-700);

  /* Text */
  --text-primary: var(--color-white);
  --text-secondary: var(--color-gray-400);
  --text-tertiary: var(--color-gray-300);
  --text-link: var(--color-blue-400);
  --text-link-hover: var(--color-blue-300);
  --text-disabled: var(--color-gray-500);

  /* Surface */
  --surface-primary: var(--color-gray-800);
  --surface-primary-hover: var(--color-gray-700);
  --surface-primary-pressed: var(--color-gray-600);

  --surface-secondary: var(--color-gray-900);
  --surface-secondary-hover: var(--color-gray-800);
  --surface-secondary-pressed: var(--color-gray-700);

  --surface-tertiary: var(--color-gray-700);
  --surface-tertiary-pressed: var(--color-gray-800);

  /* Accent */
  --accent: var(--color-blue-700);
  --accent-hover: var(--color-blue-600);
  --accent-pressed: var(--color-blue-800);

  /* Overlay */
  --overlay-surface: rgb(0 0 0 / 50%);

  /* Button */
  --button-text-contrast: var(--color-black);
  --button-surface-disabled: var(--color-gray-800);
  --button-surface-contrast: var(--color-white);
  --button-surface-contrast-hover: var(--color-gray-200);
  --button-surface-contrast-pressed: var(--color-gray-300);

  /* Control */
  --control-text-error: var(--color-red-500);
  --control-surface-disabled: var(--color-gray-700);
  --control-border-disabled: var(--color-gray-800);
  --control-border-error: var(--color-red-800);
  --control-border-focused: var(--color-blue-700);
  --control-toggle-surface: var(--color-gray-700);
}

@theme {
  --font-sans: "Nunito Sans", sans-serif;

  --text-*: initial;

  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.375 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.4375 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.625 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(1.875 / 1.5);
  --text-3xl: 1.75rem;
  --text-3xl--line-height: calc(2.25 / 1.75);
  --text-4xl: 2.125rem;
  --text-4xl--line-height: calc(2.75 / 2.125);
  --text-5xl: 2.625rem;
  --text-5xl--line-height: calc(3.5 / 2.625);
  --text-6xl: 3rem;
  --text-6xl--line-height: calc(4 / 3);
  --text-7xl: 3.25rem;
  --text-7xl--line-height: calc(4.35 / 3.25);
  --text-8xl: 3.75rem;
  --text-8xl--line-height: calc(5 / 3.75);
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.15s ease-out forwards;
  }
}

@keyframes slide-in {
  from {
    translate: -100% 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
